li{
    display: inline-block;
    margin: 10px;
}

.btn {
    padding: 5px;
    background-color: #ffcca5;
    color: #fa9554;
    
}

.searching{
    margin: 20px 0;
}

input{
    height: 30px;
}


a {
    color: #fff;
}

.title {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;    
    color: #fff;
    font-size: 70px;
    margin: 70px 0 20px 0;
}

.nav{
    text-align: center;
    color: #fff;
    
}

.header {
    background-image:url('../../img/books.png');
    background-position: bottom;
    background-size: cover;
    padding: 40px;
}
