.search {
    text-align: center;
    border-radius: 15px;
    height: 40px;
    margin: 20px 0;
    width: 100%;
    font-size: 20px;
    position: relative;
}


.books {  
    background-size: cover;
    background-repeat: no-repeat; 
    height: 400px
} 

.magglass{
    height: 30px;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-height: 200px;
    margin: 0 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #21bae0;
  }

  .books:hover .overlay {
    opacity: 1;
  }

  .text {
      color: #fff;
      text-align: center;
      transform: translateY(50%);
  }