input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    margin: 10px;
    height: 50px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 15px 20px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

input[type=text]:focus {
    width: 100%;
}

.books {  
    background-size: cover;
    background-repeat: no-repeat; 
    height: 270px
} 

li {
    list-style: none;
}

/* img {
    height: 200px;
    margin: 0 20px;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #21bae0;
  }

  .books:hover .overlay {
    opacity: 1;
  }

  .text {
      width: 100%;
      color: #fff;
      text-align: center;
      transform: translateY(50%);
      overflow-wrap: break-word;
      padding: 5px;
    }

