/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Libre+Baskerville|Roboto');

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;    
    
}

p {
    font-family: 'Roboto', sans-serif;    
}


a:hover {
    text-decoration: none;
}