<div class="container padding">
    <div class="row">
       <div class="col-xs-6">
            <img src="{{book.cover}}" alt="" class="img-responsive">
        </div>
        <div class="col-xs-6" style="text-align:center">
            <h1>{{book.title}}</h1>
            <h4>Author: {{book.author}}</h4>
            <h4>Published: {{book.published}}</h4>
            <h2>More Info:</h2>
            <p>{{book.about}}</p>
            <button [routerLink]="['/categories']" class="btn">See more like this book</button>   
            <button [routerLink]="['/library']" class="btn">Show all books</button>
            
        </div>
    </div>
</div>

